.body {
  background: linear-gradient(45deg, #ec8d11, #e72020);
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
.title {
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 120px; /* Размер текста */
    font-weight: lighter; /* Светлое начертание */
    text-align: center;
    color: peachpuff;
   }

.card {
  background: khaki;
  width: 160px;
  height: 205px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

.but{
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.button_del {
  display: inline-block;
  font-size: 14px;
  width: 105px;
  height: 30px;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
}
.button_del:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.button_del:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }


.card__top {
  flex: 0 0 150px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
  position: relative;
  overflow: hidden;
}

/* Контейнер для картинки */
.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

/* При наведении - увеличиваем картинку */
.card__image:hover > img {
  transform: scale(1.1);
}



.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #3b3331;
  text-align: center;
}

.cards {
  display: grid;
  /* Автоматически заполняем на всю ширину grid-контейнера */
  grid-template-columns: repeat(auto-fill, 150px);
  width: 100%;
  max-width: 1000px; /* Ширина grid-контейнера */
  justify-content: center;
  justify-items: center; /* Размещаем карточку по центру */
  column-gap: 20px; /* Отступ между колонками */
  row-gap: 20px; /* Отступ между рядами */
  margin: 0 auto;
}


.form_get{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.input_get{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #ee670d;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #ee670d;
    color: white;
}