<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/categ.css' %}">
<head>
    <meta charset="UTF-8">
    <title>{{ data.categorys.name_category }}</title>
</head>
<body class="body">

<div class="title_app">Категория "{{ data.categorys.name_category }}"</div>

<div class="title_cat">

    {{data.categorys.info}}

</div>
<div class="but">
    <form action="" method="GET">
{% csrf_token %}
        <input name="delCategory" type="submit" class="button_del" value="Удалить категорию"></form>
</div>

<!--
<div class="cards_app">


 Карточка заявки
<div class="card_app">
  Верхняя часть
  <div class="card_top_app">
    Изображение-ссылка товара
    <a href="#" class="card_image_app">
      <img
        src="{% static app.img %}"
        alt="Error!"
      />
    </a>
  </div>
<div class="card_bottom_app">
  Нижняя часть

     Ссылка-название товара
    <div class="card_title_app">
        <div>{{ app.title }}</div>
        <div>Цена: {{ app.price }}</div>
        <div>Статус: {{ app.status }}</div>
        <div>Описание: {{ app.info }}</div>
    </div>

</div>

    <div class="card_bottom_app">
     Кнопка добавить в корзину
    <button class="card_add_app">Принять</button>
    <button class="card_add_app">Отклонить</button>
    <button class="card_add_app">Удалить</button>
  </div>

</div>

</div>-->

</body>
</html>