<!doctype html>
<html lang="en" class="h-100">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/market.css' %}">
<head>
  <meta charset="utf-8">
    <title>Marketplace</title>
</head>
<body class="body">
<div class="title">New Market</div>
<p></p>
<div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <form action="" method="GET" enctype="multipart/form-data" class="form_get">
{% csrf_token %}
  <input name="сategory" class="input_get" type="search" autocomplete="off" value={{ data.find }}>
  <i class="fa fa-search"></i>
</form>
</div>


<div class="cards">
    {% for category in data.categorys %}

         <!-- Карточка товара -->
<div class="card">
  <!-- Верхняя часть -->
  <div class="card__top">
    <!-- Изображение-ссылка -->
    <a href="{% url 'category_id' category.id %}" class="card__image">


        <img src="{{ category.img }}" alt="Error">

    </a>
  </div>
  <!-- Нижняя часть -->
    <!-- Название товара -->
    <div class="card__title">{{ category.title }}</div>


</div>

{% endfor %}

<div class="cards">

         <!-- Карточка корзины -->
<div class="card">
  <!-- Верхняя часть -->
  <div class="card__top">
    <!-- Изображение-ссылка -->
    <a href="{% url 'request' %}" class="card__image">


        <img src="{% static 'image/bucket.jpg' %}" alt="Error">

    </a>
  </div>
  <!-- Нижняя часть -->
    <!-- Название товара -->
    <div class="card__title">Корзина: {{ data.len }}</div>


</div>
</div>
</div>





</body>
</html>